
#modal {
    max-width: 600px;
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;

        h2 {
            color: var(--gray-600);
            text-align: center;
            margin-bottom: 15px;
        }

        input {
            height: 45px;
            border-radius: 5px;
            border: 1px solid var(--gray-400);
            padding-left: 5px;
            margin-bottom: 20px;
        }

        button, a {
            height: 45px;
            border-radius: 5px;
            color: white;
            border: 0;
            background-color: var(--green-700);
            margin-bottom: 20px;
            transition: filter 0.3s;

            &:hover {
                filter: brightness(0.8);
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        textarea {
            border: 1px solid var(--gray-400);
            border-radius: 3px;
            padding-left: 5px;
            min-height: 150px;
            margin-bottom: 20px;
            resize: none;
        }

        .buttonArea {
            display: flex;
            
            button, a {
                width: 100%;
                margin: 5px;
            }
        }
    }
}